.Body {
    margin: 0 auto;
    height: 1000px;
    width: 70%;
    background-color: white;
    border: solid 1px #4b4b4b;
    font-size: 24px;
    text-align: left;
}

.Body > div {
    margin: 20px;
    padding: 15px;
    border-bottom: 1px solid #a2a2a2;
}

.name {
    width: 20%;
}

.datecreate {
    width: 20%;
}

.user {
    width: 60%
}